html, body {
  margin: 0;
  height: 100%; }

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif; }

/* Peg grid */
.peg {
  width: 49px;
  height: 49px;
  margin: 0;
  padding: 0; }

#peg-grid {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 294px;
  overflow: hidden;
  margin-bottom: 30px; }

#peg-grid-overflow {
  width: 3000px;
  height: 100%; }

#peg-grid-title {
  position: absolute;
  top: 49px;
  left: 98px;
  width: 686px;
  height: 98px;
  padding-left: 29px;
  padding-top: 20px;
  font-size: 36px;
  font-weight: bold;
  background-color: black;
  color: white; }

#peg-grid-subtitle {
  position: absolute;
  top: 196px;
  left: 98px;
  width: 490px;
  height: 49px;
  padding-left: 29px;
  padding-top: 9px;
  font-size: 22px;
  background-color: black;
  color: white; }

@media (max-width: 767px) {
  #peg-grid-title {
    top: 49px;
    left: 49px;
    width: 196px;
    height: 147px;
    padding-top: 13px;
    line-height: 1.1em;
    padding-left: 21px; }

  #peg-grid-subtitle {
    top: 245px;
    left: 49px;
    width: 343px;
    height: 147px;
    line-height: 1.1em;
    padding-left: 21px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #peg-grid-title {
    top: 98px;
    left: 98px;
    width: 490px;
    height: 98px; }

  #peg-grid-subtitle {
    top: 245px;
    left: 98px;
    width: 588px;
    height: 98px;
    line-height: 1.1em; } }
/* Front page */
.front-page-list-item {
  font-size: 22px;
  padding-left: 31px; }

.front-page-current-indicator {
  width: 18px;
  height: 18px;
  margin-left: 7px;
  margin-bottom: 4px; }

.first-day-form {
  margin-bottom: 41px; }

/* Page Layout */
.navbar-peg {
  width: 30px;
  height: 30px;
  margin-bottom: 5px; }

#navbar-weeks-dropdown {
  left: -100px; }

.front-page-content {
  padding-top: 21px;
  padding-bottom: 21px; }

.page-content {
  padding-top: 101px; }

.google-doc-content {
  width: 100%;
  min-height: 500px;
  border: none;
  outline: none; }

.week-jumbotron {
  padding-top: 2rem;
  padding-bottom: 1.5rem; }

.jumbotron-peg {
  width: 40px;
  height: 40px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 8px; }

/* Footer */
footer {
  margin-top: 0;
  padding-top: 41px;
  padding-bottom: 61px;
  background-color: #f0f4f6; }

.footer-content {
  padding-left: 25px; }

#footer-peg-1 {
  position: relative;
  top: -26px;
  left: 49px; }

#footer-peg-2 {
  position: relative;
  top: 23px; }

#footer-peg-3 {
  position: relative;
  top: 23px; }

#footer-peg-4 {
  position: relative;
  top: 72px; }
